body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;


  background-color:#ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  
  }

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #f3f7f9;

}

.site-navigation,
.user-navigation {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
  color: #ffffff;
}

.container-and-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 46px;


  background-color: #293449;

}

.container-logo {
 background-color: #ee3643;
 display: block;
 width: 110px;
 padding: 10px 55px 8PX;
 box-shadow: 0 5px 0 0 #b52933;
 text-transform: uppercase;
}

.container-logo:hover {
  background-color: #ca2c37;
}

.container-logo:active {
  background-color: #ca2c37;
}

.main-header-logo {
	font-size: 24px;
  line-height: 24px;
	color: #ffffff;
}

.upper-block {
  display: flex;
  justify-content: space-between;
  
  flex-basis: 720px;
	font-size: 17px;
  line-height: 18px;
  text-transform: none;
 
    
	background-color: #293449;
	color: #ffffff;
}

.upper-block .checkout {
  width: 110px;
	background-color: #63a63e;
  padding: 13px 20px 12px 20px;

}

.upper-block .bookmarks {
  position: relative;
  width: 83px;
  background-color: #293449;
  padding: 13px 23px 12px 44px;
}

.upper-block .basket {
  position: relative;
  width: 80px;
  background-color: #293449;
  padding: 13px 20px 12px 50px;
}

.upper-block .bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.upper-block .bookmarks:hover::before {
  opacity: 1;
}

.upper-block .bookmarks:active::before {
  opacity: 0.5;
}

.upper-block .basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 16px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.upper-block .basket:hover::before {
  opacity: 1;
}

.upper-block .basket:active::before {
  opacity: 0.5;
}

.upper-block .bookmarks:hover {
	background-color: #212a3a;
}

.upper-block .bookmarks:active {
	background-color: #161d29;
}

.upper-block .basket:hover {
  background-color: #212a3a;
}

.upper-block .basket:active {
  background-color: #161d29;
}

.upper-block .checkout:hover {
  background-color: #5fbb2d;
}

.upper-block .checkout:active {
	background-color: #518534;
	color: #a8c29a;
}

.upper-block .search-box {
  flex: none;
  width: 221px;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  color: #000000;
  border: none;
  padding: 12px 0 12px 49px;
  color: #ffffff;
}

.search-box::-webkit-input-placeholder {
    color: #ffffff;
   } 

.search-box::-moz-placeholder {
    color: #ffffff;
   }


.search-form {
  position: relative;
}

.search-svg{
  position: absolute;
  top: 12px;
  left: 18px;
}

.search-svg path {
  opacity: 0.3;
}

.search-svg:hover path {
  opacity: 1;
}
.search-box:hover { 
  background-color: #212a3a;
}

.search-box:hover+.search-svg path {
  opacity: 1;
}

.search-box:focus { 
  background-color:#ffffff;
  color: #000000;
}

.search-box:focus+.search-svg path {
  fill: #ee3643;
  opacity: 1;
}







.initial-block {
  display: flex;
  margin: 0;
  padding: 0;
  width: 940px;
  background-color: #f3f7f8;
  justify-content: space-between;
  margin-bottom: 39px;
}

 .initial-block .container-header {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;

  background-color: #f1f5f7;


}

h1 {
  display: block;
  width: 202px;
  padding: 0 45px 0 53px;
  margin: 0;
	font-size: 16px;
  line-height: 23px;
  color: #ee434f;
	text-transform: none;
  font-style: italic;
  font-weight: 100;

    

  background-color: #f3f7f9;
}

.main-navigation .contact-number {
  position: relative;
	font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  text-align:  center;
  padding: 11px 45px 9px 74px;
  width: 147px;
  margin-bottom: 5px;



  background-color: #f3f7f9;
	border: 2px solid #ffffff;
}

.contact-number::before {
  content: "";
  
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 15px;
  
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  

}

.container-header p {
  margin: 0;
  margin-left: 10px;
  width: 260px;
 
	font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-transform: none;

  background-color: #f3f7f9;
}

.user-navigation {
  display: flex; 
  justify-content: flex-end;
  align-items: flex-start;
  width: 300px;
  margin: 0;
  padding: 0;

  

}

.user-navigation .enter {
  position: relative;
  padding: 12px 27px 12px 48px;
  background-color: #ffffff;
  
}

.user-navigation .enter::before {
  content: "";
  
  position: absolute;
  top: 14px;
  left: 14px;
  
  width: 20px;
  height: 17px;
  
  background-image: url("../img/icon-login-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.user-navigation .enter:hover::before {
  opacity: 1;
}

.user-navigation .enter:active::before {
  opacity: 0.3;
}

.user-navigation .register {
  padding: 12px 25px;
  margin-left: 10px;
  background-color: #ffffff;
  
}

.user-navigation a {
	font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-transform: none;


  background-color: #ffffff;
}

.user-navigation a:hover {
	color: #f36c75;
}

.user-navigation a:active {
	color: #d1d1d1;
}

.site-navigation {
	font-size: 17px;
  line-height: 17px;
  color: #bbc0c9;
  text-transform: none;
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  box-shadow: 0 5px 0 0 #293449;
  margin-bottom: 60px;



  background-color: #32425c;
}

.site-navigation li {
  padding: 19px;
  width: 134px;
  text-align:  center;

}

.site-navigation li:nth-child(1) {
  width: 97px;
  padding-left: 40px;
}

.site-navigation li:nth-child(2) {
  width: 107px;
  padding-left: 20px;
}

.site-navigation li:nth-child(3) {
  width: 94px;
  padding-left: 15px;
}

.site-navigation li:nth-child(4) {
  width: 109px;
  padding-left: 10px;
}

.site-navigation li:nth-child(5) {
  width: 158px;
  padding-left: 15px;
}

.site-navigation li:nth-child(6) {
  width: 109px;
  padding-left: 25px;
}

.site-navigation li:nth-child(7) {
  width: 98px;
  padding-right: 45px;
}

.site-navigation li:hover {
  background-color: #293449;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #293449;
	color: #59616e;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
	background-color: #ffffff;
  
}

.features-top {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
}

.features-list-top {
  display: flex;
  justify-content: space-between;
	margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 300px;
  min-height: 123px;
	background-color: #000000;
  padding-top: 20px;
  padding-left: 22px;
  padding-bottom: 27px;

  box-sizing: border-box;
  display: block;

}


.feature-item h3 {
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: none;
}

.feature-item a {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 3px;

}


.features-list-top li:first-child a {
  padding: 10px 24px 12px;
  margin-left: 3px;

}

.features-list-top li:nth-child(2) a {
  padding: 12px 27px 12px 26px;
  margin-left: 3px;

}

.features-list-top li:last-child a {
  padding: 10px 31px 10px 30px;
  margin-left: 1px;
}


.feature-item a:hover {
	background-color: rgba(0, 0, 0, 0.2);

}

.feature-item a:active {
	background-color: rgba(0, 0, 0, 0.3);

}

.features-list-top .materials {
  position:relative;
  background-color: #ffbf47;

}

.features-list-top .instruments {
  position:relative;
	background-color: #3bbce3;
}

.features-list-top .equipment {
  position:relative;
	background-color: #dc91d8;
}


.feature-item .flag{
  position:absolute;
  top:0px;
  right:0px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}
.feature-item .flag-new{
  background:url("../img/new-flag.png") no-repeat 0 0;
}

.features-list-top .materials::before {
  content: "";
  
  position: absolute;
  bottom: 22px;
  right: 43px;
  
  width: 44px;
  height: 68px;
  
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.features-list-top .instruments::before {
  content: "";
  
  position: absolute;
  bottom: 23px;
  right: 25px;
  
  width: 78px;
  height: 66px;
  
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.features-list-top .equipment::before {
  content: "";
  
  position: absolute;
  bottom: 25px;
  right: 28px;
  
  width: 81px;
  height: 65px;
  
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.features-bottom {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 53px;

}

 .slides {

  display: flex;
  flex-direction:column;
  width: 620px;
  margin: 0;
  padding: 0;
/*  padding-left: 24px;
  padding-top: 27px;
  padding-right: 22px;
  padding-bottom: 22px;*/



  
}
.all-slide {
  position: relative;
  list-style: none;
  width: auto;
  min-height: 266px;
  margin: 0;
  padding: 0;
}


.slide1 {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 24px;
  min-height: 266px;
  background-image: url("../img/slayd-drel.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
   
  
}

.slide2 {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 24px;
  min-height: 266px;
  background-image: url("../img/slayd-perforator.jpg");
  background-repeat: no-repeat;
  display: none;
  box-sizing: border-box;
}



.all-slide h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;

}

.slide1 p {
  margin: 0;
  padding: 0; 
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: rgba(0,0,0,0);
  
}

.slide2 p {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding: 0; 
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  color: #ffffff;
  text-transform: none;

  background-color: rgba(0,0,0,0);
}

.about-absolute {
  position: absolute;
  width: 620px;
  min-height: 266px;
}

.slides a {
  width: 195px;
  padding: 10px 45px 10px 49px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 3px;
  margin-right: 70px;

  background-color: #ee3643;
}

.slides a:hover {
	background-color: #ca2c37;
}

.slides a:active {
	background-color: #ba2732;
}

.slides .switches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 114px;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 54px;
  list-style: none;

}

.switches li {
  margin: 0;
  padding: 0; 
}

.switches button {
  margin: 0;
  padding: 0; 
  background-color: rgba(30,19,15,0);
  border: none;
  color: #ffffff;
}

.slides .slides-switches {
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 25px;

}

.slides-switches .slide-radio {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  margin-left: 6px;

}

.slide-radio:last-child {
  margin-left: 8px;
}

.slide-radio .slide-btn-two {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ee3643;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 2px;
}

.features-list-bottom {
margin: 0;
padding: 0;
}

.features-list-bottom li {
	list-style-type: none;
}

.features-list-bottom li:first-child a {
  padding: 12px 23px;
  margin-left: 1px;
}

.features-list-bottom li:last-child a {
  padding: 12px 37px;
  margin-left: 1px;
}


.features-list-bottom h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: none;
}

.features-list-bottom .discount {
  position: relative;
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.features-list-bottom .delivery {
  position: relative;
	background-color: #ffc047;
}

.features-list-bottom .discount::before {
  content: "";
  
  position: absolute;
  bottom: 20px;
  right: 42px;
  
  width: 62px;
  height: 75px;
  
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list-bottom .delivery::before {
  content: "";
  
  position: absolute;
  bottom: 23px;
  right: 26px;
  
  width: 82px;
  height: 66px;
  
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-and-price {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-left: 30px;
  padding-right: 24px;
  margin-bottom: 20px;
  width: 886px;
	background-color: #f9f5f0;
}

.popular-and-price h2 {
  margin-top: 33px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
}

.popular-and-price a {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 26px;
  padding: 12px 55px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 3px;

  background-color: #ee3643;
}

.popular-items {
  font-family: "PT Sans", Arial, sans-serif;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
  color: #000000;
  text-transform: none;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 21px;


  background-color:#ffffff;
}

.catalog-items {
  display: flex;
  width:940px;
  margin:0 auto;
  padding: 0;
	list-style-type: none;
  
}

.catalog-items li {
  position:relative;
  
  width:218px;
  margin: 0;
  padding: 0;
  margin-right:20px;
  border:1px solid #ccc;
  line-height:20px;
  font-weight:bold;
  text-align:center;
}

.catalog-items li:last-child {
  margin-right: 0;
}


.catalog-item .flag{
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
}
.catalog-item .flag-new{
  background:url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .hover-item{
  position:absolute;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  width:218px;
  padding:40px 0;
  background-color:rgba(255,255,255,0.9);
  z-index:10;
}

.hover-item .button-buy,
.hover-item .button-bookmarks{
  font-family: "Cuprum", Arial, sans-serif;
  display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;
  border:3px solid #63a63e;
  border-bottom-color:#367315; 
  background-color:#63a63e;
  color:white;
  font-size:14px;
  font-weight:normal;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;    
  border-radius:3px;
}

.catalog-item .hover-item{
  display:none;
}
.catalog-item:hover .hover-item{
  display:block;
}
.catalog-item .image{
  width:218px;
  height:168px;
}
.catalog-item img{
 max-width: 100%;
}

.catalog-item h3{
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  padding:0 25px;
  margin-top:10px;
  margin-bottom:12px;    
}
.catalog-item .discount{
  min-height:20px;
  margin: 0;
  margin-bottom:10px;
  color: #b5b5b5;
  font-size: 17px;
  line-height: 18px;
  font-weight: 100;
  text-transform: none;
  text-decoration:line-through;


  background-color:#ffffff;
}
.catalog-item .price{
  position:relative;
  width:80px;
  margin:10px auto;
  margin-bottom:20px;
  padding:10px 30px;
  color:white;
  background:#ee3643;
  border-radius:3px;
}

.catalog-item p {
  font-size: 17px;
  line-height: 18px;
  font-weight: 100;
  color: #ffffff;
  text-transform: none;

  background-color:#ee3643;
}

.catalog-item .price:after{
    content:"";
    position:absolute;
    top: 0;
    right:-20px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}


.catalog-item .button-buy {
	color: #ffffff;

	background-color:#63a63e;
}

.catalog-item .button-bookmarks {

	color: #32425c;
	border: 2px solid #63a63e;

	background-color:#ffffff;
}

.catalog-item .button-buy:hover {
	background-color:#5fbb2d;

}

.catalog-item .button-buy:active {
	background-color:#518534;

}

.catalog-item .button-bookmarks:hover {
	border: 2px solid #32425c;
	
}

.catalog-item .button-bookmarks:active {
	color: #c1c6ce;
	border: 2px solid #c1c6ce;
}

.popular-manufacturers {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-left: 26px;
  padding-right: 24px;
  margin-bottom: 20px;
  width: 886px;
  background-color: #f9f5f0;
}

.popular-manufacturers h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
}

.popular-manufacturers a {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 26px;
  padding: 10px 70px 10px 69px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 3px;

  background-color: #ee3643;
}

.manufacturers {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 82px;
}

.manufacturers-item {
  display: flex;
  width:940px;
  margin:0 auto;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  
  
}

.manufacturers-item li:nth-child(4),
.manufacturers-item li:nth-child(8) {
  margin-right: 0;
}

.manufacturers-item li {
  position:relative;
  
  width:218px;
  height: 143px;
  margin: 0;
  padding: 0;
  margin-right:20px;
  margin-bottom:20px;
  border: 1px solid #eaeaea;
  line-height:20px;
  font-weight:bold;
  text-align:center;
}

.manufacturers-item li:nth-child(5),
.manufacturers-item li:nth-child(6),
.manufacturers-item li:nth-child(7),
.manufacturers-item li:nth-child(8) {
  margin-bottom: 0;
}

.manufacturers-item li:hover {
	box-shadow: 0 10px 25px rgba(177,181,189,0.5);
}

.manufacturers-item li:active {
	box-shadow: 0 10px 25px rgba(177,181,189,0.5);
  opacity:.5;

}

.service {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 75px;

	background-color: #f4f7f9;

}

.service-container {
  width: 940px;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  padding: 0;
  list-style-type: none;
}

.service h2 {
  margin-top: 65px;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;

}

.service p {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 67px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 100;
  color: #000000;
  text-transform: none;

}

.index-columns {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  padding: 0;

  list-style-type: none;
}

.index-columns .left-block {
  position: relative;
  width: 240px;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

}

.index-columns .left-block::before {
  content: "";

  position: absolute;
  top: -40px;
  right: 0px;

  width: 9px;
  height: 275px;

  background-image: url("../img/Layer-index-columns.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.left-block li:nth-child(1) {
  background-color: #32425c;
  padding: 16px 140px 17px 22px;
  background-color: #ffffff;
  color: #32425c;
}

.left-block li:nth-child(2) {
  padding: 16px 140px 16px 23px;
  border-bottom: 1px solid #4e637c;
  background-color: #32425c;
}

.left-block li:nth-child(3) {
  padding: 16px 157px 16px 23px;
  background-color: #32425c;

}

.left-block li:hover {
	background-color: #293449;
  color: #ffffff;
}

.left-block li:active {
	color: #32425c;
	background-color: #ffffff;
}

.index-columns .right-block {
  list-style: none;
  width: 700px;
  margin: 0;
  padding: 0;  
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  margin-left: 80px;



}

.right-block h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin-bottom: 25px;


}

.right-block p {
  width: 275px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;

}

.uarantee100 p {
  width: 383px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;

}

.credit p {
  width: 280px;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
  font-family: "PT Sans", Arial, sans-serif;
}

.credit a {
  text-transform: uppercase;
  padding: 11px 44px;
  border-radius: 3px;
  margin-bottom: 110px;
}

.right-block .truck {
  min-height: 286px;
  background-color: #f4f7f9;
  background-image: url("../img/truck.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  
}

.right-block .uarantee100 {
  min-height: 286px;
  background-color: #f4f7f9;
  background-image: url("../img/uarantee100%.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  display: none;
}

.right-block .credit {
  min-height: 286px;
  background-color: #f4f7f9;
  background-image: url("../img/credit.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  display: none;
}

.credit a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ff5357;
}

.about-company {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  padding: 0;
   background-color: #ffffff;
}

.transport-companies {
  margin: 0;
  padding: 0;

}

.about-company h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;

}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 100;
  color: #000000;
  text-transform: none;
}

.transport-companies .theory-one {
  width: 520px;
  margin-bottom: 25px;
}

.transport-companies .theory-two {
  width: 385px;
  margin-bottom: 22px;
}

.transport-companies ul {
  margin: 0;
  padding: 0;

  margin-bottom: 37px;

}

.transport-companies li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin-bottom: 20px;
}

.transport-companies li:nth-child(3) {
  margin: 0;
}

.transport-companies li::before {
  content: "";
  
  position: absolute;
  top: 9px;
  left: 0px;
  
  width: 28px;
  height: 7px;
  
  background-image: url("../img/trait.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-company a {

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 3px;

  background-color: #ee3643;
}

.transport-companies .button {
  padding: 12px 40px 10px 41px;
}

.about-company .contacts {
  width: 300px;
}

.contacts p {
  margin: 0;
  padding: 0;
  width: 180px;
  margin-bottom: 31px;
}

.about-company .mini-map {
  background-color: #ffffff;
  width: 300px;
}

.contacts img {
  margin-bottom: 40px;
}

.contacts .button {
  padding: 12px 59px 10px 63px;
}

.main-footer {
  background-color: #32425c;
  text-transform: none;
  color: #ffffff;
  margin-top: 93px;

}

.main-footer li {
  list-style-type: none;
}

.main-footer a {
  color: #ffffff;
}

.container-logo-footer {
 background-color: #ee3643;
 display: block;
 width: 138px;
 padding: 17px 41px;
 box-shadow: 0 5px 0 0 #b52933;
 text-transform: uppercase;
}

.container-logo-footer:hover {
  background-color: #ca2c37;
}

.container-logo-footer:active {
  background-color: #ca2c37;
}

.container-logo-footer a {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.top-footer {
  width: 940px;
  justify-content: space-between;
  display: flex;
  margin:0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 53px;
  
}

.footer-left {
  width: 328px;
}
.footer-left p {
  margin: 0;
  padding: 0;
  margin-top: 29px;
}

.top-footer .footer-navigation {
  display: flex;
  width: 550px ;
  flex-direction: column;

}

.footer-navigation .company-navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  margin-bottom: 40px;
}

.company-navigation li {
  margin-left: 60px;
  color: #ffffff;
}

.company-navigation a {
  color: #ffffff;
}

.company-navigation li:first-child {
  margin-left: 0;
}

.footer-navigation .catalog-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

}

.catalog-navigation li {
  margin-left: 60px;
}

.catalog-navigation li:first-child {
  margin-left: 0;
}

.catalog-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #f1c77e;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity:.5;
  text-decoration: none;
}

.container-and-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 46px;


  background-color: #293449;

}

.bottom-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;

  background-color: #293449;
}


.social-navigation {
  width: 940px;
  justify-content: space-between;
  display: flex;
  margin:0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;


  background-color: #293449;
}

.social-navigation p {
  width: 270px;
  margin:0;
  padding: 0;
  padding-right: 30px;
  margin-top: 38px;
  box-sizing: border-box;
}

.footer-social {
  margin:0;
  padding: 0;
  width: 130px;
  padding-top: 35px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;


}

.footer-social li {
  border-radius: 50%;

}

.footer-social li:first-child {
  margin:0;
  padding: 13px 8px;  
  margin-right: 5px;
}

.footer-social li:nth-child(2) {
  margin:0;
  padding: 10px 14px 9px 14px;
  margin-right: 5px;  
}

.footer-social li:last-child {
  margin:0;
  padding: 10px 10px 10px 9px;  
}

.footer-bottom {
  margin:0;
  padding: 0;
  padding-top: 39px;
  display: flex; 
  width: 286px;
  padding-right: 14px;
  justify-content: space-between;
}

.footer-bottom p {
  margin:0;
  padding: 0;
  
}

.footer-bottom .footer-copyright {
  width: 97px;
}

.footer-bottom .footer-feedback {
  width: 137px;
}

.footer-bottom a {
  color: #f1c77e;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #e13643;
  text-decoration: none;
}

.footer-social .social-button {
  background-color: #212a3a;
}

.footer-social .social-button:hover {
  background-color: #ee3643;
}

.footer-social .social-button:active {
  background-color: #ee3643;
}

.bottom-footer {
  padding-bottom: 31px;
}


/*Отдельне формы*/


.personal-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.Personal-office {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 0 5px 48px;
  margin: 0;
  margin-bottom: 9px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

.Personal-office button {
 border: none;
 background-color: #ffffff;
 margin-right: 3px;
}

.Personal-office::before {
  content: "";
  
  position: absolute;
  top: 15px;
  right: 9px;
  
  width: 21px;
  height: 17px;
  
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0;
}

.Personal-office:hover::before {
  opacity: 1;
}

.Personal-office:active::before {
  opacity: 0;
}

.Personal-office button:active {
  position: absolute;
}

.Personal-office::after {
  content: "";
  
  position: absolute;
  top: 13px;
  left: 15px;
  
  width: 21px;
  height: 17px;
  
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.Personal-office:hover::after {
  opacity: 1;
}

.Personal-office:active::after {
  opacity: 0.3;
}


.Personal-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-left: 18px;
  padding-right: 70px;
  list-style-type: none;
}

.Personal-navigation::before {
  content: "";
  
  position: absolute;
  top: 7px;
  left: 110px;
  
  width: 5px;
  height: 5px;
  
  background-image: url("../img/Shape-1-copy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.Personal-navigation .button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-transform: none;
  text-decoration: underline;
}

.Personal-navigation .button:hover {
  color: #ee3643;
}

.Personal-navigation .button:active {
  color: #32425c;
  opacity: 0.5;
}

.Personal-office:hover {
  color: #32425c;
}

.Personal-office:active {
  color: #32425c;
  opacity: .5;
}

.catalog-header {
  margin-bottom: 23px;
}

.upper-block .catalog-basket {
  position: relative;
  width: 80px;
  background-color: #ee3643;
  padding: 13px 20px 12px 50px;
}

.upper-block .catalog-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 16px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.upper-block .catalog-basket:hover::before {
  opacity: 1;
}

.upper-block .catalog-basket:active::before {
  opacity: 0.5;
}

.breadcrumbs{
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: #000000;
  margin-bottom: 23px;

}

.breadcrumbs li {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs li:nth-child(1)::before {
  content: "";
  
  position: absolute;
  top: 2px;
  left: 30px;
  
  width: 8px;
  height: 14px;
  
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.breadcrumbs li:nth-child(2)::before {
  content: "";
  
  position: absolute;
  top: 2px;
  left: 67px;
  
  width: 8px;
  height: 14px;
  
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.breadcrumbs li:nth-child(3)::before {
  content: "";
  
  position: absolute;
  top: 2px;
  left: 96px;
  
  width: 8px;
  height: 14px;
  
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.breadcrumbs li:last-child {
  margin-right: 0px;
}

.breadcrumbs a {
  color: #000000;
}

.h2-perforators h2{
  width: 910px;
  padding: 30px 0 28px 30px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  margin-bottom: 20px;



  background-color: #f2f6f8;
}

.catalog-center-block {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog-center-block .catalog-left-block {
  width: 220px;
}

.catalog-center-block .catalog-right-block {
  width: 700px;
}

.popular-items .catalog-html {
  display: flex;
  flex-wrap: wrap;
}

.catalog-html li {
  margin-bottom: 20px;
}

.catalog-html li:nth-child(7) {
  margin-bottom: 0;
}

.catalog-html li:nth-child(8) {
  margin-bottom: 0;
}

.catalog-html li:nth-child(9) {
  margin-bottom: 0;
}


.filters h2 {
  margin: 0;
  padding: 10px 0;
  padding-left: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 12px;

  background-color: #f7f3ec;
}

.filters legend {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.block-range {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
 background-color: #f7f3ec;
}

.block-slider {
  position: absolute;
  left: 40px;
  top: 39px;
  width: 120px;
  height: 2px; 
  background-color: #00ca74;
}

.moving-element {
  position: absolute;
  width: 4px;
  height: 4px; 
  padding: 8px;
  border-radius: 50%;
  border-bottom: 2px solid #e0ddd8;
  background-color: #ffffff;
}
.moving-element .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
}

.block-range .one {
  margin: 30px 180px 28px 20px;
}

.block-range .two {
  margin: 30px 40px 28px 160px;
}

.block-slider-two {
  position: absolute;
  right: 20px;
  top: 39px;
  width: 20px;
  height: 2px; 
  background-color: #d7dcde;
}

.range-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  align-items: center;
}

.range-price input {
  font-family: "PT Sans", Arial, sans-serif;
}

.range-price input[type="text"]::-webkit-input-placeholder {
    color: #000000;
   } 

.range-price input[type="text"]::-moz-placeholder {
    color: #000000;
   }

.range-price .min {
  width: 49px;
  padding: 8px 0 12px 46px;
  color: #000000;
  background-color: #f7f3ec;
  border: none;
}

.range-price .max {
  width: 69px;
  padding: 8px 0 12px 26px;
  color: #000000;
  background-color: #f7f3ec;
  border: none;
}

.filters fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;  
  margin-bottom: 19px;
}

.filters fieldset:last-of-type {
  border-bottom: none;
}



.filters .filters-option {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  color: #000000;
  margin: 0;
  padding: 0;
  
  list-style: none;
  margin-bottom: 20px;
}

.filters-option li{
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  
}

.filters-option li:nth-child(1) {
  margin-bottom: 22px;
}

.filters-option li:nth-child(2) {
  margin-bottom: 19px;
}

.filters-option li:nth-child(3) {
  margin-bottom: 19px;
}

.filters-option li:nth-child(4) {
  margin-bottom: 21px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -1px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -34px;
  width: 26px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters .filters-option-bottom {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  color: #000000;
  margin: 0;
  padding: 0;
  
  list-style: none;
  margin-bottom: 55px;
}

.filters-option-bottom li{
  margin: 0;
  padding: 0;
  padding-left: 35px;
  
}

.filter-option-bottom label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filters-option-bottom li:nth-child(1) {
  margin-bottom: 22px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -2px;
  left: -34px;
  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: #000000;
  width: 138px;
  text-transform: uppercase;
  padding: 12px 0;

  background-color: #ffffff;
  border: 1px solid #f7f3ec;
}
.sorting {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: #acaaa5;
  margin-bottom: 20px;
  
 background-color: #f7f3ec;
}

.sorting .sorting-by {
  display: flex;
  margin: 0;
  padding: 0;
  padding: 10px 0;

  list-style: none;
}

.sorting-by li:first-child {
  margin-right: 71px;
}

.sorting-by li:nth-child(2) {
  margin-right: 65px;
}

.sorting-by li:nth-child(3) {
  margin-right: 47px;
}

.sorting-by li:nth-child(4) {
  margin-right: 21px;
}


.sorting p {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 10px 140px 10px 20px;
  color: #000000;
  font-weight: 700;
}


.sorting-by .sort-by {
  color: #b2b2b2;
  border-bottom: 1px dashed #ee3643; 

}

.sorting-by .sort-by:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643; 

}

.sorting-by .sort-by:active {
  color: #ee3643;
  border: none;

}

.sorting-by .active1 {
  color: #ee3643;
  border: 0;
}

.pagination-list {

  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 55px;
  list-style: none;
}

.pagination-list .pagination-item {
  
  
  margin-right: 10px;
  padding: 10px 15px 10px 16px; 
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list .last {
  padding: 10px 36px 10px 28px; 
}

.pagination-list .pagination-item {

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

}

.pagination-list .pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
  border-color: : #ee3643;
}


.pagination-list .pagination-item:hover {
  border: 1px solid #bdc6ca;
  color: #000000;
  background-color: #ffffff;
}

.pagination-list .pagination-item:active {
  background-color: #ffffff;
  border: 1px solid #ee3643;
}



 .about-perforators {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 100;
  color: #000000;
  text-transform: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 65px;

  background-color: #f2f6f8;
}

.about-perforators .perforators-down {
  width: 940px;
  margin: 0 auto;
  padding: 0;

}

.about-perforators h3 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;

}

.about-perforators p {
  margin: 0;
  padding: 0;  
  margin-bottom: 68px;
}

.visually-hidden {
  display: none;
}

.catalog-footer {
  background-color: #32425c;
  text-transform: none;
  color: #ffffff;
}


.catalog-footer li {
  list-style-type: none;
}

/*CSS для формы связи с нами*/

.Contact-Us {
  position: fixed;
  top: 140px;
  left: 50%;
  
  margin-left: -310px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);


  background-color: #ffffff;
  display: none;
}

.Contact-Us .pink-flore {
  min-height: 7px;
  background-color: #ff5357;
}

.Contact-Us-top {
  width: 460px;
  padding: 35px 80px 0px 80px;
}

.Contact-Us input {
  margin: 0;
  padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: #000000;
  text-transform: none;


  background-color: #ffffff;
}

.Contact-Us textarea{
  font-family: "PT Sans", Arial, sans-serif;
  min-height: 112px;
  border: 2px solid #f4f4f4;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: #000000;
  text-transform: none;
  margin-bottom: 37px;


  background-color: #ffffff;
}

.Contact-Us .button {
  margin: 0;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.button .submit {

   font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 199px 11px 198px;
  border: none;
  border-radius: 3px;

  background-color: #ee3643;
}


.modal-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 0px;

  width: 22px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.login-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="email"] {
   font-family: "PT Sans", Arial, sans-serif;
   width: 220px;
   border: 2px solid #f4f4f4;
   border-radius: 3px;
   padding: 10px 16px;
   
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: #000000;
  text-transform: none;
  box-sizing: border-box;
}

.top-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-form label {
  margin-bottom: 10px;
}

.top-form p {
  margin: 0;
  padding: 0;
}

.modal-map {
  position: fixed;
  top: 140px;
  right: 253px;
  width: 940px;
  height: 446px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-map p {
  padding: 0;
  margin: 0;
}

.catalog-basket-hover {
  position: fixed;
  top: 140px;
  left: 50%;
  
  margin-left: -310px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);

  background-color: #ffffff;
  display: none;
}

.catalog-basket-hover h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  padding:0;
  margin: 0;
}

.catalog-basket-hover img {
  padding:0;
  margin: 0;
}

.catalog-basket-hover .pink-flore {
  min-height: 7px;
  background-color: #ff5357;
}

.catalog-basket-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 414px;
  padding: 55px 125px 49px 81px;
}

.catalog-basket-hover .button-basket {
  margin: 0;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.button-basket .checkout-basket {

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 61px 10px 58px;
  margin-right: 20px;
  border: none;
  border-radius: 3px;

  background-color: #ee3643;
}

.button-basket .continue-shopping {

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 47px 10px 43px;
  border: none;
  border-radius: 3px;

  background-color: #ffffff;
}


.modal-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 0px;

  width: 22px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}